<ion-content [fullscreen]="true" class="ion-padding">

  <h4>Saiba qual melhor opção para o abastecimento do seu carro.</h4>
  <div class="group_input">
    <ion-item>
      <ion-label position="floating">Digite o valor do Ácool</ion-label>
      <ion-input type="number" placeholder="ex: 5,50"></ion-input>
    </ion-item>
  </div>

  <div class="group_input">
    <ion-item>
      <ion-label position="floating">Digite o valor da Gasolina</ion-label>
      <ion-input type="number" placeholder="ex: 4,50"></ion-input>
    </ion-item>
  </div>


  <ion-button class="ion-padding button_custom_calc" color="primary">Calcular</ion-button>
  <h5 class="ion-padding">melhor você usar:</h5>

</ion-content>